@model MiniMarket.Models.ProductListViewModel

<h2>Catalog</h2>

@if (User.IsInRole("Admin"))
{
    <div>
        <a href="@Url.Action("Create", "Product")" class="btn btn-primary">Add Products</a>
    </div>
}
@foreach(var product in Model.Products)
{
    <div class="product-item">
        <img src="@product.ImageUrl" alt="@product.Name" width="150" />
        <h3>@product.Name</h3>
        <p>@product.Price</p>
        <a href="@Url.Action("Details", "Product",new {id = product.Id})">Details</a>
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Edit", "Product", new { id = product.Id })" class="btn btn-warning">Редактировать</a>
            <form asp-action="Delete" asp-controller="Product" method="post" asp-route-id="@product.Id" style="display:inline;">
                <button type="submit" class="btn btn-danger" onclick="return confirm('Удалить продукт?');">Удалить</button>
            </form>
        }
    </div>
}

<div class="pagination">
    Page @Model.PageNumber in @Model.TotalPages
    @if (Model.PageNumber > 1)
    {
        <a href="@Url.Action("Index", new { page = Model.PageNumber - 1 })">Назад</a>
    }
    @if (Model.PageNumber < Model.TotalPages)
    {
        <a href="@Url.Action("Index", new { page = Model.PageNumber + 1 })">Вперед</a>
    }
    
</div>